@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "modules/overrides";
@import "modules/sidebar";
@import "modules/navbar";

body {
    background: #F7FAFD;
    color: #222;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.pre {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.form-inline {
    display: inline-block;
}

.box {
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.box-heading {
  border: 1px solid #EFEFEF;
  border-bottom: 1px solid #ddd;
  color: #4C5164;
  background: #F9F9F9;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-body {
  padding: 15px;
  border: 1px solid #F3F3F3;
  border-top: none;
  margin-bottom: 2em;
}

.table-white {
  background: #fff;
  padding: 15px;
}

.box-heading:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.box-title {
    float: left;
    font-size: 24px;
    margin: 0;
}

.box-btn {
    float: right;
}

.group-list {
  /*background: red;*/
}

.group-item {
  background: #D9EDF7;
  border-bottom: 1px solid #D9EDF7;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
}

.group-img {
  border-radius: 50px;
  margin: 35px 0;
}

.group-title {
  display: block;
  color: #222;
  font-weight: bold;
  margin: 15px 0 15px 0;
  height: 60px;
  font-size: 25px;
  line-height: 30px;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}

.group-head {
  text-align: left;
}




.fussy-search {
  &-wrap {
    position: relative;
    width: 100%;
  }
  &-result {
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);

    li {
      display: block;
    }
  }
  &-item {
    cursor: pointer;
    display: block;
    padding: 0.75em;
    margin: 0;
    border-bottom: 1px solid #eee;
    .glyphicon {
      float: right;
    }
    &:hover {
      background: #eee;
    }
  }
}

.in-words {
  border: none;
  width: 100%;
  height: 52px!important;
  text-align: right;
}

.form-footer {
  margin-top: 15px;
}

.table-error {
  background: #f2dede;
  textarea {
    background: #f2dede;
  }

  input {
    background: #f2dede;
  }
}

.table-in_words {
  padding: 12px;
  margin: 0;
  text-align: right;
  background: #fff;
}

.dash-box {
  background: #dff0d8;
  border-bottom: 1px solid #dff0d8;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.form {
  &-login {
    margin-top: 7em;
  }
}