.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #4C5164;
    border-color: #4C5164;
    border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #F3F3F3;
  &:hover {
    text-decoration: none;
    color: #F3F3F3;
  }
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: #F3F3F3;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #F3F3F3;
}