
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td  {
  vertical-align: middle;
}

textarea.form-control {
    height: 109px;
    border-radius: 0;
    resize: none;
}

.btn {
  /*border-radius: 0;*/
}

.pagination {
  border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


input.form-control {
  border-radius: 0;
}

.form-group select {
  border-radius: 0!important;
}

.input-group-addon {
  border-radius: 0;
}


.table {
  border-spacing: 0;
  margin-bottom: 0;
  border-collapse: collapse;
  &-row {
    td {
      padding: 0!important;
      vertical-align: top!important;
    }
  }
  &-e {
    border-left: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
  }
  &-ref {
    width: 15%;
  }
  &-desc {
    width: 40%;
  }
  &-unit_price {
    width: 15%;
  }
  &-qty {
    width: 10%;
  }
  &-total {
    width: 15%;
  }
  &-remove {
    width: 5%;
  }
  &-input {
    width: 100%;
    border: none;
    outline: none;
    height: 44px;
    padding: 0 12px;
    margin: 0;
  }
  &-text {
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 0 12px;
    height: 44px;
  }
  &-total_text {
    height: 44px;
    padding: 12px;
    margin: 0;
    text-align: right;
    background: #fff;
  }
  &-times {
    text-align: right;
    display: block;
    height: 44px;
    padding: 12px;
    background: #fff;
  }
  &-actions {
    width: 171px;
    text-align: right;
  }
}
