.sidebar {
  margin-top: 30px;
  /*background: #2C2F3E;*/
  &-wrap {
    padding-left: 0;
  }
  &-break {
    /*background: red;*/
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  ul {
    padding: 0;
    margin: 0;
    .glyphicon {
      float: right;
    }
    li {
      /*background: #2C2F3E;*/
      display: block;
      a {
        display: block;
        padding: 10px 5px;
        color: #2C2F3E;
        &:hover {
          color: #242736;
          text-decoration: none;
        }
      }
    }
  }
}

/*.sidebar ul li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sidebar ul li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: none;
}*/
